*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  object-fit: cover;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.body {
  margin: 0;
  text-decoration: none;
  background-color: aliceblue;
  color: aliceblue;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  max-width: 1900px;
}

.header {
  display: grid;
  grid-template: ". logo nav search" max-content/2fr 1fr 2.5fr 0.5fr;
  align-items: center;
  justify-items: start;
  padding: 20px 0;
  text-transform: uppercase;
  overflow: hidden;
}
@media screen and (max-width: 759px) {
  .header {
    padding: 20px 20px;
    grid-template: " logo menu-icon" max-content/0.5fr 0.5fr;
    align-items: center;
    justify-items: start;
    align-content: space-between;
  }
}
@media screen and (min-width: 760px) and (max-width: 1200px) {
  .header {
    grid-template: "logo nav search" max-content/0.5fr 2fr 0.5fr;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .header {
    grid-template: " logo nav nav search" max-content/2fr 1fr 2.5fr 0.5fr;
  }
}

.header__nav {
  display: block;
  grid-area: nav;
}
@media screen and (max-width: 759px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 760px) and (max-width: 1200px) {
  .header__nav {
    justify-self: center;
  }
}

.logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  width: 100px;
  line-height: 1;
  color: #ff0f0f;
}
@media screen and (max-width: 759px) {
  .logo {
    justify-self: start;
  }
}
@media screen and (min-width: 760px) and (max-width: 1200px) {
  .logo {
    font-size: 16px;
    align-self: center;
  }
}

.header__search-button {
  grid-area: search;
  display: block;
  border: none;
  padding: 10px;
  background-color: aliceblue;
}
@media screen and (max-width: 759px) {
  .header__search-button {
    display: none;
  }
}
@media screen and (min-width: 760px) and (max-width: 1200px) {
  .header__search-button {
    justify-self: center;
  }
}

@media screen and (max-width: 759px) {
  .header--mobile {
    height: 100vh;
    padding: 20px 20px;
    grid-template: "logo menu-icon" max-content "nav nav" max-content "search search" 0.05fr;
    justify-items: center;
    align-items: start;
  }
  .header--mobile .header__search-icon, .header--mobile .header__search-button, .header--mobile .header__nav {
    display: block;
  }
}

.header__nav-list {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 759px) {
  .header__nav-list {
    flex-direction: column;
    text-align: center;
    gap: 6vh;
    font-weight: 400;
    font-size: 4vh;
  }
}

.header__nav-link {
  position: relative;
  color: #1C1C1C;
  padding: 16px 25px 16px 0;
}
@media screen and (max-width: 759px) {
  .header__nav-link {
    padding: 16px;
  }
}
.header__nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -200%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01bcb5;
  transition: bottom 0.45s ease;
}
@media screen and (max-width: 759px) {
  .header__nav-link::after {
    display: none;
  }
}
.header__nav-link:hover::after {
  bottom: -80%;
}
.header__nav-link:hover {
  color: #01bcb5;
}
.header__nav-link:active {
  color: #0D9893;
}

.header__search-icon {
  fill: #1C1C1C;
  transition: fill 0.25s ease;
}
@media screen and (max-width: 759px) {
  .header__search-icon {
    display: none;
  }
}
.header__search-button:hover .header__search-icon {
  fill: #01bcb5;
}

.no--scroll {
  overflow: hidden;
}

.menu-icon {
  display: none;
}
@media screen and (max-width: 759px) {
  .menu-icon {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    border: 0;
    padding: 0;
    grid-area: menu-icon;
    justify-self: end;
    align-self: center;
  }
  .menu-icon:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1C1C1C;
    left: 0;
    top: 0;
    transition-property: top, transform;
    transition-duration: 0.25s, 0.25s;
    transition-delay: 0.2s, 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-icon::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1C1C1C;
    left: 0;
    bottom: 0;
    transition-property: bottom, transform;
    transition-duration: 0.25s, 0.25s;
    transition-delay: 0.2s, 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu-icon__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #1C1C1C;
  left: 0;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon--active .menu-icon__line {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon--active::before {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  transition-property: top, transform;
  transition-duration: 0.1s, 0.1s;
  transition-delay: 0.2s, 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-icon--active::after {
  transform: translateY(50%) rotate(45deg);
  bottom: 50%;
  transition-property: bottom, transform;
  transition-duration: 0.1s, 0.1s;
  transition-delay: 0.2s, 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "healthy" "slider-arrows" "freshy" "slider-dots" "thirsty" "orange";
}
@media screen and (min-width: 760px) and (max-width: 1200px) {
  .main {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-areas: " freshy freshy freshy healthy" "slider-arrows  slider-arrows  slider-arrows  healthy" "thirsty thirsty thirsty thirsty" "slider-dots slider-dots orange orange";
  }
}
@media screen and (min-width: 1201px) {
  .main {
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    grid-template-areas: "slider-arrows healthy thirsty thirsty" "slider-arrows  healthy slider-dots orange" "freshy healthy slider-dots orange";
  }
}

.slider-arrows {
  position: relative;
  grid-area: slider-arrows;
}

.slider-arrows,
.slider-dots__items-wrapper,
.orange__item {
  height: 320px;
}
@media screen and (min-width: 1201px) {
  .slider-arrows,
  .slider-dots__items-wrapper,
  .orange__item {
    height: 450px;
  }
}

.slider-arrows__nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-arrows__arrow {
  color: aliceblue;
  background-color: transparent;
  font-size: 30px;
  border: 2px solid aliceblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.2s opacity;
}
.slider-arrows__arrow:hover {
  opacity: 0.8;
}
.slider-arrows__arrow:active {
  opacity: 0.6;
}

.btn {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid aliceblue;
  padding: 10px 20px;
  font-size: 16px;
  transition: 0.2s opacity;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.6;
}

.slider-arrows__items-wrapper {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  display: flex;
}

/* 
.slider-arrows__arrow--left {
}

.slider-arrows__btn {
}
.slider-arrows__arrow--right {
} */
.slider__dots {
  grid-area: slider-dots;
  position: relative;
}

.slider-dots__items-wrapper {
  width: 100%;
  filter: brightness(80%);
  display: flex;
}

.slider-dots__btn-wrapper {
  top: 50%;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider-dots__nav-item {
  width: 15px;
  height: 15px;
  border-color: aliceblue;
  border-radius: 50%;
  background: aliceblue;
  transition: 0.2s opacity;
}
.slider-dots__nav-item:hover {
  opacity: 0.8;
}
.slider-dots__nav-item:active {
  opacity: 0.6;
}

.slider-dots__nav {
  position: absolute;
  left: 0;
  bottom: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.slider-dots__nav-item--active {
  background: transparent;
  border: 2px solid aliceblue;
}

.slider-arrows__item {
  width: 100%;
  height: 100%;
}

.slider-dots__item {
  width: 100%;
  height: 100%;
}

/* 



.btn {
}
.slider-dots__btn {
}
 */
.freshy {
  grid-area: freshy;
  background-color: #9ad309;
}

.common {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
@media screen and (max-width: 759px) {
  .common {
    display: flex;
    gap: 15px;
    padding: 15px;
  }
}

.common__text-wrapper {
  max-width: 100%;
  hyphens: auto;
  text-align: right;
  max-width: 100%;
  hyphens: auto;
}
@media screen and (max-width: 759px) {
  .common__text-wrapper {
    flex: 1 1 66.67%;
    display: block;
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 0;
  }
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
  .thirsty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
  .thirsty .common__text-wrapper {
    flex: 0 0 30%;
    display: block;
  }
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
  .thirsty .title {
    flex: 1 1 70%;
    text-align: center;
  }
}

.title {
  font-size: calc(0.5rem + 0.5vw);
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (max-width: 759px) {
  .title {
    flex: 0 0 33.33%;
    text-align: center;
  }
}

.title__span {
  display: block;
  font-size: calc(1rem + 2vw);
  font-weight: 400;
  letter-spacing: 2px;
}
.title__span::first-line {
  font-weight: 900;
}

.thirsty {
  grid-area: thirsty;
  background-color: #f5b609;
}

.healthy {
  grid-area: healthy;
  background-color: #ff0f0f;
}

.common--row-rewerse {
  flex-direction: row-reverse;
}

@media screen and (min-width: 760px) {
  .common--col-rewerse {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1201px) {
  .common--col-rewerse {
    justify-content: end;
  }
}

.title {
  max-width: 300px;
}

.orange {
  grid-area: orange;
  position: relative;
}

.orange img {
  width: 100%;
  filter: brightness(80%);
}

.orange__btn-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.orange__arrow {
  position: absolute;
  bottom: 10%;
  right: 10%;
  fill: aliceblue;
  transition: 0.2s opacity;
}
.orange__arrow:hover {
  opacity: 0.8;
}
.orange__arrow:active {
  opacity: 0.6;
}

.orange__arrow-icon {
  width: 50px;
  height: 50px;
}

/* 


.btn {
}
.orange__btn {
}
.orange__nav {
}
 */
.wrapper-down {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "sidebar" "footer";
  display: grid;
  align-items: end;
  align-content: center;
}
@media screen and (min-width: 1201px) {
  .wrapper-down {
    grid-template: "footer sidebar" 1fr/4.5fr 1.5fr;
    align-items: stretch;
  }
}

.footer {
  padding-top: 80px;
  background-color: #1C1C1C;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1.5fr 1fr;
  grid-template-rows: max-content 100px;
  grid-template-areas: ".  socials form logo"
                      " . . . copyright"; */
  grid-template: "   socials form logo" max-content "  . . copyright" 100px/2fr 1.5fr 1fr;
  align-items: end;
  align-content: center;
  grid-area: footer;
}
@media screen and (max-width: 759px) {
  .footer {
    grid-template: "socials" "form" "logo" "copyright" 1fr/1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
  }
}

.socials {
  grid-area: socials;
  justify-content: center;
  display: flex;
  gap: 15px;
  margin-bottom: -5px;
}
@media screen and (max-width: 759px) {
  .socials {
    gap: 35px;
  }
}

.form {
  grid-area: form;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  display: grid;
  gap: 10px;
  justify-content: start;
  justify-items: start;
  align-items: end;
}
@media screen and (max-width: 759px) {
  .form {
    justify-items: center;
    width: 300px;
    justify-content: center;
  }
}

.form__input {
  grid-column: 1/2;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
  opacity: 0.8;
}
.form__input:focus {
  opacity: 1;
}
@media screen and (max-width: 759px) {
  .form__input {
    width: 250px;
  }
}

.form__submit-btn {
  grid-column: 2/3;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #01bcb5;
  text-transform: uppercase;
  color: aliceblue;
  transition: 0.2s opacity;
}
.form__submit-btn:hover {
  opacity: 0.8;
}
.form__submit-btn:active {
  opacity: 0.6;
}
@media screen and (max-width: 759px) {
  .form__submit-btn {
    grid-column: 1/2;
  }
}

.form__label {
  grid-column: 1/-1;
}

.footer__logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  align-self: end;
}

.footer__logo-icon {
  width: 80px;
  height: 80px;
  fill: grey;
  transition: 0.2s fill;
}
.footer__logo-icon:hover {
  fill: #01bcb5;
}

.socials__item a {
  display: block;
  transition: 0.2s opacity;
}
.socials__item a:hover {
  opacity: 0.8;
}
.socials__item a:active {
  opacity: 0.6;
}

.socials__item-icon {
  width: 40px;
  height: 40px;
  fill: aliceblue;
}

.sidebar {
  background-color: #01bcb5;
  grid-area: sidebar;
}

.copy-right {
  grid-area: copyright;
  color: grey;
  align-self: end;
  justify-self: center;
}

.btn--round {
  border-radius: 20px;
}

.sidebar p + .btn {
  margin-top: 20px;
}

.sidebar__text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  -webkit-line-clamp: 5;
}/*# sourceMappingURL=main.css.map */